@use 'base/variables' as v;
@use 'base/mixins' as m;

.sobre-festival{
    padding: 5rem 0;
    @include m.tablet { // se hace responsive. cuando es chiquita la pantalla quda 1 columna. si es tablet y mas grande. quedan 2
        @include m.grid; 
    }
}

.contenido-festival{ // 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
    @include m.tablet {
        margin-top: 0;
    }
    h2 {
        margin-bottom: 2rem;
    }
    .fecha {
        color: v.$rosa;
        font-weight: 700;
    }
}