@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    background-color: v.$verde;
    h1 { // anidacion en sass
        color: v.$blanco;
        text-align: center;
        @include m.tablet {
            margin: 0
        }
    }
    .contenido-header {
        padding: 2rem;
        @include m.tablet {
            display: flex;
            justify-content: space-between
        }
        align-items: center;
    }
}

.navegacion-principal {
   @include m.tablet {
    display: flex;
    gap: 2rem;
   }
    
   a{
    display: block;
    text-align: center;
    margin-bottom: 1rem;
    color: v.$blanco;
    font-size: 2.4rem;
    @include m.tablet {
        margin: 0;
    }
   }  
   a:hover {
        color: v.$amarillo
    }
}
// mixins muy utiles para botones y eso
// .prueba {
//     @include m.heading;
// }
// .texto {
//     @include m.heading;
// }